body {
    
}
.containerOG1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.containerOG2 {
    width: 700px; /* Ancho deseado */
    height: 600px; /* Altura deseada */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #005187;
    color:white
}
